*.o
*.lo
*.la
*.a
.deps/
.dirstamp
.libs/
libacovea*.tar.bz2
Makefile
Makefile.in
aclocal.m4
acovea.pc
ar-lib
autom4te.cache/
cmdline/runacovea
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4/
missing
